.parent-record {
    min-height: 400px;
}



.lottieStop {
    width: 60px;
}

.btn-record {

    color: var(--text-customized);
    background: #CA4B7F;
}
.lottieStop{
    width: 100px !important;
    cursor: pointer;
}
.record{
    
    width: 25%;
}
.record-mic{
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .btn-record {
        width: 100%;
        font-size: 1.3em !important;
        background: #CA4B7F;
        color: var(--text-customized);
        padding: 10px 20px;
    }

}




.selectedAudio{
    

    position: relative;
        background-image: url("../../../image/import.png");
            z-index: 100;
    

}


.new-color{
    color: var(--text);
}