* {

  a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


}

body {
  background-color: var(--body) !important;

}

:root {
  --body: #EEE;
  --text: rgb(0, 0, 0);
  --text-customized:#EEE;
  --secondary: black;
  --title: black;
  --subTitle: rgb(161 161 170);
  --subTitle2: rgba(3, 3, 4, 0.729);
  --header: #ffffff96;
  --textHeader: black;
  --alert: #EEE
}

.dark {
  --body: #22303C;
  /* --body: rgb(10, 9, 14); */
  --text: #EEE;
  --text-customized:#EEE;
  /* --text:#F3D2F2; */
  --textHeader: #fff6f6;
  --primary: red;
  --secondary: black;
  --title: ;
  --subTitle: rgb(161 161 170);
  --subTitle2: rgba(242, 242, 245, 0.729);
  --header: rgba(44, 42, 42, 0.687);
  --alert: rgba(44, 42, 42, 1)
}



/* scroll */
/* Scroll bar */
::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #777;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* for Firefox */
html {
  scrollbar-color: #777 #3d4a59;
}

html {
  scroll-behavior: smooth;
}

.fontfamily {
font-family: "Protest Riot", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Alert */
.swal2-popup {
  background-color: var(--alert);
  opacity: 5 !important;
  z-index: 100000 !important;

}

.swal2-title,
.swal2-confirm.swal2-styled,
.swal2-cancel.swal2-styled {
  /* font-family:"Heebo", sans-serif !important; */
  color: var(--text);
}

/* sideBar M Ui */
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  z-index: 5 !important;
}

.fa-solid.fa-pen {
  border: 1px solid var(--text);
}
.downloadQR {
  color: var(--text-customized);
  font-family: "Protest Riot", sans-serif !important;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px;
  background: #dc0b62;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.35);
  width: 100%;
  transition-duration: 0.2s;

}
.fontFamily{
  font-family: "Protest Riot", sans-serif !important;
}
.downloadQR:hover {
  background: white;
  color: #dc0b62;
  border: #dc0b62;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.35);
}